/* for noobs like me, just copy and paste this into ~/.config/wofi/style.css. that is if you can do that... (no judging m8) */
#input {
margin: 0px;
border: none;
color: #c4c4c4;
background-color: #1e1e2e;
}

#inner-box {
margin: 0px;
border: none;
background-color: transparent;
}

#outer-box {
margin: 2px;
border: none;
background-color: transparent;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #c4c4c4;
}

#entry:selected {
background-color: #1e1e2e;
}
/* Add rounded corners to the Wofi window */
#window {
	background: rgba(30,30,46,0.6);
	border: none;
}
